* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}
.contactUs {
    background-color: #4B727A; 
    color: white; 
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.contactUs h2 {
    font-size: 2.5rem; 
    margin-bottom: 10px;
}

.contactUs p {
    font-size: 1.2rem;
}
.contactBackground{
     background-color: #eaf1f1;
}
.contact-us-page  {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: #eaf1f1;
    height: 600px;


}

.contact-info {
    width: 45%;
    background-color: #eaf1f1;
    padding: 30px;
   
}

.contact-info h2 {
    font-size: 1.9rem;
    color: #4B727A;
}

.contact-info ul {
    list-style: none;
    margin-top: 20px;
}

.contact-info li {
    font-size: 1rem;
    margin: 10px 0;
}

.contact-info p {
    font-size: 1rem;
    margin-top: 20px;
}

.contact-form {
    width: 55%;
    padding: 30px;
    
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 10px;
   
}

.contact-form p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.email a {
    color:#4B727A ;
}
.social-media{
    padding: 20px 0px;
  
}
.form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

textarea {
    height: 150px;
}

button {
    background-color:#FFD700;
    color: #4B727A;
    border: none;
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color:#4B727A;
      color:#FFD700 ;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 30px;
    height: 30px;
}


