/* Global Styles */
body {
  background-color: white;
  font-family: "Arial", sans-serif;
  color: #333;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #4b727a;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 1.2rem;
  color: #6c757d;
  text-align: center;
}

/* Form Card */
.card {
  margin: auto;
  border: none;
  border-radius: 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3) !important;
}

.form-control {
  border-radius: 0;
  border: 1px solid #ddd;
  padding: 12px;
}

.btn-primary {
  background-color: #4b727a;
  border: none;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #60919b;
}

.form-text {
  font-size: 0.9rem;
}

/* footer { */
/* margin-top: 30px; */
/* font-size: 0.9rem; */
/* color: #666; */
/* } */

footer p {
  margin-top: 20px;
}
#message {
  text-align: center;
}
a {
  color: #4b727a !important;
}
.text-primary {
  color: #4b727a !important;
}
.link {
  text-decoration: none;
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}
