/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #333;
}
h1 {
  color: #4b727a;
  margin-top: 20px;
}
header{
  width: 100%;
}

.imgForm {
  display: flex;
  gap: 10px;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.signUpImg img {
  max-width: 100%;
  height: auto;
}

.signupIntro p {
  margin: 50px 40px 10px 40px ;
  color:#4b727a;
 font-weight: bolder;
  font-size: 16px;
  text-align: center;

}
.member p{
  text-align: center;
  color:#67748e ;

}
.member a{
  color: #4b727a;
}
.name{
   width: 50%;
}
.phone{
  width: 50%;
}
.namePhone{
  display: flex;
  gap: 30px;
}
input::placeholder {
  color: #333333;
  font-size: 14px;
  
}

.form-select {
  border-radius: 0;
}
.card {
  margin: 0px 50px 10px 50px;
  border: none;
  border-radius: 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  justify-content: left;
}


.btn-success {
  border: none;
  transition: background-color 0.3s ease-out, color 0.3s ease-out, transform 0.2s ease-out; 
  border-radius: 5px;
  padding: 12px 20px; 
  background-color: #4b727a;
  color: #ffd700;
  font-size: 16px; 
  cursor: pointer; 
}

.btn-success:hover {
  background-color: #3e5b60; 
  color: #ffffff; 
  transform: scale(1); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-success:active {
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



/* General footer styles */
.footer {
    background-color: #4b727a;
    color: #ecf0f1;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Section styles */
.footer-section {
  flex: 1;
  min-width: 250px;
}

.footer-heading {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #FFD700;
  text-transform: uppercase;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-link {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #f39c12;
}

/* Copyright section */
.footer-copyright {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #bdc3c7;
}


/* Responsive styles */
@media (max-width: 768px) {
  .welcome-message h1{
    font-size: 48px;
  }
  .welcome-message h2{
    font-size: 36px;
  }
  .welcome-message h3{
    font-size: 24px;

  }
  footer{
    padding: 20px 3px;
  }
 .signupIntro p {
  margin: 0px auto ;
  color:#4b727a;
 font-weight: bolder;
  font-size: 16px;
  text-align: center;

}
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (max-width: 480px) {
 .signUpImg img{
    display: none;
    background-color: red;
  }
  .footer-heading {
    font-size: 1rem;
  }

  .footer-list-item {
    font-size: 0.9rem;
  }

  .footer-link {
    font-size: 0.9rem;
  }
}
