/* Global Styles */
body {
  background: linear-gradient(to bottom, #ffe4e1, #fff);
  font-family: "Arial", sans-serif;
  color: #333;
}

header h1 {
  color: #28a745;
  font-weight: bold;
}

header p {
  color: #6c757d;
}
.form-control {
  border-radius: 0;
}
.form-select {
  border-radius: 0;
}
.card {
  border: none;
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
  background-color: #28a745;
  border: none;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0;
}

.btn-success:hover {
  background-color: #218838;
}

footer {
  margin-top: 20px;
  color: #666;
}
